* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Default styles */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: black;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  font-family: 'Roboto', sans-serif;
}

.header__top {
  background-color: #303030;
}

.header__btn {
  float: right;
  position: relative;
}

.header__btn--link {
  color: #1b1b1b;
  font-size: 16px;
  line-height: 36px;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
}

.header__btn--icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 22px;
}

.header__phone,
.header__email {
  display: inline-block;
  position: relative;
}

.header__phone--icon {
  width: 12px;
  height: 12px;
  fill: #ffc222;
  position: absolute;
  top: 14px;
}

.header__email--icon {
  width: 15px;
  height: 15px;
  fill: #ffc222;
  position: absolute;
  top: 14px;
}

.header__phone--link,
.header__email--link {
  color: #d3d2d2;
  letter-spacing: 0.25px;
  line-height: 45px;
}

.header__phone--link {
  padding-left: 20px;
  padding-right: 30px;
}

.header__email--link {
  padding-left: 24px;
}

.header__content {
  padding: 34px 0 23px;
}

.header__content--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav--list {
  display: inline-block;
}

.header__nav--list + .header__nav--list {
  padding-left: 10px;
}

.header__nav--item {
  padding: 0 16px;
  border: 1px solid transparent;
  color: #323232;
  font-size: 16px;
  line-height: 36px;
  -webkit-transition: border .3s linear;
  transition: border .3s linear;
}

.header__nav--item:hover {
  border-color: #ffc222;
}

.modal {
  display: none;
  color: black;
}

.slider {
  background: url("../../img/slider-1.png") no-repeat center;
  background-size: cover;
  min-height: 500px;
}

.slider__item--content {
  text-align: center;
  padding-top: 130px;
  max-width: 665px;
  margin: 0 auto;
}

.slider__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1.5px;
  margin-bottom: 24px;
}

.slider__text {
  color: #d3d2d2;
  font-family: "PT Serif", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
}

.default__btn {
  color: #373636;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 30px 8px 24px;
  border: 1px solid #ffc222;
  border-right-width: 20px;
  outline: none;
  position: relative;
}

.default__btn:after {
  content: "\f105";
  font-family: 'icomoon';
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -12px;
}

.slider__btn {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 30px 8px 24px;
  border: 1px solid #ffc222;
  border-right-width: 20px;
}

.slider__inner {
  position: relative;
}

.slick-btn {
  position: absolute;
  top: 75%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-family: 'icomoon';
  color: #ffffff;
  background-color: #ffc222;
}

.slick-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-btn:focus {
  outline: none;
}

.slick-btn:hover {
  background-color: #ffc222;
}

.slick-btn.slick-disabled {
  cursor: default;
  background-color: transparent;
}

.slick-next {
  right: 0;
}

.slick-next:before {
  content: "\f105";
}

.slick-prev {
  left: 0;
}

.slick-prev:before {
  content: "\f104";
}

.services {
  padding: 50px 0 30px;
}

.services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.services__title--box,
.form__title--box {
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}

.services__title--box:before,
.form__title--box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 11px;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
}

.services__title,
.form__title {
  color: #212020;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.14px;
  margin-bottom: 10px;
}

.services__text,
.form__text {
  color: #5e5e5e;
  font-family: "PT Serif";
  line-height: 18px;
}

.services__btn {
  margin-top: 25px;
}

.services__btn--link {
  color: #373636;
  line-height: 24px;
  letter-spacing: 0.35px;
  border: 3px solid #e6e6e6;
  padding: 5px 38px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  padding: 30px 0 80px;
  max-width: 360px;
  min-height: 375px;
  text-align: center;
  -webkit-box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
          box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
  background-color: #f9f9f9;
  position: relative;
}

.services__item--title {
  padding: 24px 0;
  color: #212020;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.services__item--text {
  color: #5e5e5e;
  font-family: "PT Serif";
  letter-spacing: 0.14px;
  padding: 0 30px 30px;
}

.services__item--btns {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.services__item--link {
  color: #050505;
  border-bottom: 1px solid #050505;
  margin-right: 65px;
}

.about {
  background: url("../../img/about.png") center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 540px;
  min-height: 300px;
}

.about__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.about__text {
  color: #d3d2d2;
  font-family: "PT Serif";
  line-height: 24px;
  letter-spacing: 0.14px;
}

.about__btn {
  color: #ffffff;
}

.about__btn:after {
  color: #303030;
}

.form {
  padding-top: 30px;
}

.form__inner {
  padding-bottom: 40px;
  background: url("../../img/form-img.png") no-repeat bottom right;
  min-height: 460px;
}

.form__box {
  max-width: 850px;
  padding-top: 45px;
}

.form__box--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__box--left {
  max-width: 260px;
  width: 100%;
}

.form__box--right {
  max-width: 555px;
  width: 100%;
}

.form__box--inner label,
.form__box--inner input,
.form__box--inner textarea {
  display: block;
  width: 100%;
}

.form__box--inner label {
  color: #282828;
  line-height: 36px;
}

.form__box--inner input {
  margin-bottom: 8px;
  padding: 0 10px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
}

.form__box--inner select {
  padding-left: 17px;
  outline: none;
  background-color: #ffffff;
}

.form__box--inner .jq-selectbox.jqselect {
  display: block;
  width: 100%;
}

.form__box--inner .jq-selectbox__select {
  height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 17px;
}

.form__box--inner .jq-selectbox__trigger-arrow:before {
  content: "\f105";
  font-family: 'icomoon';
  color: #6b6a6a;
  position: absolute;
  right: 17px;
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.jq-selectbox__dropdown {
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #e6e6e6;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.form__box--inner .jq-selectbox li {
  min-height: 18px;
  padding: 5px 17px 6px;
  color: #231F20;
}

.form__box--inner .jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}

.form__box--inner .jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF;
}

.form__box--inner .jq-selectbox li.disabled {
  color: #AAA;
}

.form__box--inner .jq-selectbox li.disabled:hover {
  background: none;
}

.form__box--inner .jq-selectbox li.optgroup {
  font-weight: bold;
}

.form__box--inner .jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

.form__box--inner .jq-selectbox li.option {
  padding-left: 25px;
}

.form__box--inner textarea {
  padding: 10px;
  margin-bottom: 44px;
  height: 207px;
  outline: none;
  resize: none;
  border: 1px solid #e6e6e6;
}

.form__box--btn {
  background-color: transparent;
  color: #282828;
  float: right;
}

.form__box--btn:after {
  color: #282828;
}

.advantages {
  padding: 55px 0 40px;
  background: url("../../img/adv-img.png") no-repeat center;
  background-size: cover;
  min-height: 285px;
}

.advantages__inner {
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__title {
  position: relative;
  padding: 60px 0 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.advantages__title:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #ffc222;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.advantages__title:after {
  content: "\f00c";
  font-family: "icomoon";
  font-size: 14px;
  position: absolute;
  top: 9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.advantages__item {
  max-width: 360px;
}

.advantages__text {
  color: #d3d2d2;
  font-family: "PT Serif";
  line-height: 24px;
  letter-spacing: 0.14px;
}
/*# sourceMappingURL=style.css.map */