.header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #303030;
}

.header__btn {
    float: right;
    position: relative;
}

.header__btn--link {
    color: #1b1b1b;
    font-size: 16px;
    line-height: 36px;
    background-color: $yellow;
    padding: 5px 20px 4px 50px;
}

.header__btn--icon {
    width: 15px;
    height: 15px;

    position: absolute;
    top: 13px;
    left: 22px;
}

.header__phone,
.header__email {
    display: inline-block;
    position: relative;
}

.header__phone--icon {
    width: 12px;
    height: 12px;

    fill: $yellow;

    position: absolute;
    top: 14px;
}

.header__email--icon {
    width: 15px;
    height: 15px;

    fill: $yellow;

    position: absolute;
    top: 14px;
}

.header__phone--link,
.header__email--link {
    color: #d3d2d2;
    letter-spacing: 0.25px;
    line-height: 45px;
}

.header__phone--link {
    padding-left: 20px;
    padding-right: 30px;
}

.header__email--link {
    padding-left: 24px;
}

.header__content {
    padding: 34px 0 23px;
}

.header__content--inner {
    display: flex;
    justify-content: space-between;
}

.header__nav--list {
    display: inline-block;
}

.header__nav--list+.header__nav--list {
    padding-left: 10px;
}

.header__nav--item {
    padding: 0 16px;
    border: 1px solid transparent;

    color: #323232;
    font-size: 16px;
    line-height: 36px;

    transition: border .3s linear;

    &:hover {
        border-color: $yellow;
    }
}